
{% extends "base.html" %}

{% block title %}kcs{% endblock %}
{% block content %}
<nav class="navbar navbar-dark bg-dark block">
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            変換ドメイン
        </a>
    </p>
</nav>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <ul>
            <li><a href="#tool">ポケモン画像変換</a></li>
        </ul>
    </div>
</div>
<div class="card-header">お絵描きしてください</div>
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="row justify-content-center">
            <canvas id="canvas" width="256px" height="256px" style="border: 1px solid #000000"></canvas>
            <img id="output" src="" width="256px" height="256px">
            <div id="tool">
                <button id="clear-button" class="btn btn-inline">clear</button>
                <input id="color" class="btn btn-inline" type="color">
                <label>太さ<input id="width" type="number" min="1" max="30"></label>
                <button id="pencil" class="btn btn-inline"><i class="fas fa-pen"></i></button>
                <button id="eraser" class="btn btn-inline"><i class="fas fa-eraser"></i></button>
                <button id="predict" class="btn btn-inline btn-primary">予測する</button>
                <form id="form" class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="">
                        <label class="input-group-btn">
                            <span class="btn btn-success">
                                Choose File<input type="file" name="docfile" style="display:none;" id="input-file" accept="image/*" >
                            </span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card-footer fixed-bottom">
フッターです
</div>
{% endblock %}